apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app: metrics-server
    chart: metrics-server-2.11.1
    heritage: Tiller
    release: metrics-server
  name: system:metrics-server
  namespace: syn-metrics-server
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:metrics-server
subjects:
- kind: ServiceAccount
  name: metrics-server
  namespace: syn-metrics-server
