apiVersion: v1
kind: Service
metadata:
  annotations: {}
  labels:
    app: metrics-server
    chart: metrics-server-2.12.0
    heritage: Helm
    release: metrics-server
  name: metrics-server
  namespace: syn-metrics-server-test
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: https
  selector:
    app: metrics-server
    release: metrics-server
  type: ClusterIP
